.header {
  opacity: 0;
  position: relative;
  height: 10vh;
  animation: hi 1 2s linear forwards;
  
  .nav-bar {
    align-items: center;
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 2vw; */
    height: 10vh;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    font-size: 25px;

    background: $light-color;
    background: linear-gradient(90deg, $dark-color 20%, darken($light-color,5%) 40%);
    @media (prefers-color-scheme: dark) {
      background: $dark-color;
      background: linear-gradient(90deg, $light-color 20%, lighten($dark-color,5%) 40%);
    }

    .name {
      color: $light-color;
      @media (prefers-color-scheme: dark) {
        color: $dark-color;
      }
    }
  @include tablet{
    font-size: 12px;
    .name{
      width: auto;
    }
  }
  }

  .nav-bar-options {
    ul {
      display: flex;
      gap: 5vw;

      li {
        list-style: none;
      }
  @include tablet{
    gap: 1vw;
  }
    }
  }
}

.footer {
  height: 10vh;
  width: 100%;
  text-align: center;

  .media {
    display: flex;
    justify-content: space-evenly;

    div {
      width: 100px;
      height: 5vh;
    }
  }
  p {
    margin: 0;
  }
}
