.coin {
  position: relative;
  aspect-ratio: 1/1;
  height: 100%;
  display: flex;
  transform-style: preserve-3d;
  align-items: center;

  .face {
    position: absolute;
    height: auto;
    width: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &.backface {
      transform: rotateY(180deg);
    }
    .hex {
      fill: darken($default,10%);
  }
  .border {
    fill: darken($default,30%);
  }

    image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

.purple {
  color: lighten($purple, 10%);
  .coin{
    @include repaintHex( $purple);
    @include dropShadow($blur: 5px, $color: $dark-color);
    @media (prefers-color-scheme: dark){
      @include dropShadow($blur: 10px);
    }
  }
}
.blue {
  color: lighten($blue, 10%);
  .coin{
    @include repaintHex($blue);
    @include dropShadow($blur: 5px, $color: $dark-color);
    @media (prefers-color-scheme: dark){
      @include dropShadow($blur: 10px);
    }
  }
}
.green, #about {
  color: lighten($green, 10%);
  .coin{
    @include repaintHex($green);
    @include dropShadow($blur: 5px, $color: $dark-color);
    @media (prefers-color-scheme: dark){
      @include dropShadow($blur: 10px);
    } 
  }
}
.orange {
  color: lighten($red, 10%);
  .coin{
    @include repaintHex($red);
    @include dropShadow($blur: 5px, $color: $dark-color);
    @media (prefers-color-scheme: dark){
      @include dropShadow($blur: 10px);
    }
  }
}
.honeycomb {
  height: 60vh;
  display: grid;
  margin: 20px;

  .row {
    display: flex;
    height: 20vh;

    &.middle {
      margin: -4vh auto -8vh;
    }

    &.border {
      margin: auto;
    }

    .hexagon-container {
      height: 20vh;
      position: relative;

      .coin {
        animation-name: example;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 7s;
      }

      .coin svg image {
        animation-name: intro1;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        opacity: 0;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .honeycomb {
    height: 45vh;

    .row {
      height: 15vh;

      .hexagon-container {
        height: 15vh;
      }
    }
  }
}
#honey-comb-1 svg image {
  animation-delay: 0s;
}
#honey-comb-2 svg image {
  animation-delay: 1s;
}
#honey-comb-3 svg image {
  animation-delay: 2s;
}
#honey-comb-5 svg image {
  animation-delay: 3s;
}
#honey-comb-6 svg image {
  animation-delay: 4s;
}
#honey-comb-7 svg image {
  animation-delay: 5s;
}
#honey-comb-4 svg image {
  animation-delay: 8s;
}
#center-hexagon {
  animation-iteration-count: 1;
}
