.home {
  width: auto;
  .home_head {
    height: 90vh;
    padding: 5% 0;
    position: relative;
    background: -webkit-linear-gradient(0deg,$dark-color, $light-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    &:before{
      content: " ";
      background-image: url("./img/background.jpg");
      background-color: $default;
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: -1;
    }
    p{
      padding: 64px;
      font-weight: bold;
      font-size: 24px;
    }
    
    #big {
      height: 75%;
      margin: auto;
      aspect-ratio: 1/1;
    }

    .home_head_front {
      position: absolute;
      width: 100%;
      display: flex;
      top: 50%;
      justify-content: space-around;
    }
    @include tablet{
      display: grid;
      grid-template-areas: "hexagon" "left" "right";
      grid-template-rows: 50% auto;
      #big{
        grid-area: hexagon;
      }
      .text_left{
        grid-area: left;
      }
      .text_right{
        grid-area: right;
      }
    }
  }

  #home_flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    min-height: 50vh;

    .home_card {
      margin: 30px 20px 0;
      width: 20%;
      text-align: center;
      border-bottom: solid 10px transparent;
      @include tablet{
        width: 30%;
      }
      .coin {
        margin: auto;
        height: 40%;
      }

      p {
        width: 80%;
        margin: auto;
      }
    }
  }
  #home_sections {

    .section {
      padding: 32px;
      .cards {
        gap: 2rem;
      }
      width: auto;
      /* height: 400px; */
      margin: 20px 0;

      .sectionTitle, .sectionDescription {
        text-align: center;
        width: 100%;
      }
      .sectionTitle{
        font-size: 2em;
      }
      .sectionDescription{
        margin-bottom: 32px;
        color: $dark-color;
        @media (prefers-color-scheme: dark){
          color: $light-color;
        }
      }
    }
  }
}
