.hex {
  fill: #505050;
}
.border{
  fill: #333
}
.coin {
  position: relative;
  /* width: inherit; */
  height: inherit;
  display: flex;
  transform-style: preserve-3d;
  align-items: center;
}
.face {
  position: absolute;
  height: auto;
  width: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.backface{
  transform: rotateY(180deg);
}
.honeycomb {
  height: 60vh;
  display: grid;
  margin: 20px;
}
.row {
  display: flex;
  height: 20vh;
}
.row.middle {
  margin: -4vh auto -8vh;
}
.row.border {
  margin: auto;
}
.hexagon-container {
  height: 20vh;
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-delay: 7s;
}
.hexagon-container img {
  animation-name: intro1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  margin: auto;
}
#honey-comb-1{
  animation-delay: 0s;
}
#honey-comb-2{
  animation-delay: 1s;
}
#honey-comb-3{
  animation-delay: 2s;
}
#honey-comb-5{
  animation-delay: 3s;
}
#honey-comb-6{
  animation-delay: 4s;
}
#honey-comb-7{
  animation-delay: 5s;
}
#honey-comb-4{
  animation-delay: 8s;
}
#center-hexagon {
  animation-iteration-count: 1;
}


@media only screen and (max-width: 768px) {
    .honeycomb{
        height: 45vh;
    }
    .row{
        height: 15vh;
    }
    .hexagon-container{
        height: 15vh;
    }
}