.main-banner {
    background-image: url("../../img/background.jpg");
    height: 65vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}
.nav-bar {
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 2vw;
    height: 10vh;
    width: 96vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
    font-size: 25px;
}
.nav-bar::before, .nav-bar::after{
    height:0;
    width: 0;
    border-top: 5vh solid transparent;
    border-bottom: 5vh solid transparent;
    position: absolute;
    content: " ";
}
.nav-bar::before{
    right: -2vw;
}
.nav-bar::after{
    left: -2vw;
}
.nav-bar-options ul{
    display: flex;
    gap: 5vw;
}
.nav-bar-options ul li{
    list-style: none;
}
.header{
    opacity: 0;
    position: relative;
    height: 70vh;
    animation: hi 1 2s linear forwards;
}

.footer{
    height: 10vh;
    width: 100vw;
}
.footer .media{
    display: flex ;
    justify-content: space-evenly;
}
.footer .media div{
    width: 100px;
    height: 5vh;
}
footer p {
    margin: 0;
}
.home{
    margin: 10vh 5vw;
    width: auto;
    gap: 50px;
    display: grid;
    grid-template-columns: auto auto;
    color: var(--text);
}
.home article{
    width: auto;
    height: 400px;
    padding: 24px;
}
.home article .icon{
    width: 96px;
    height: 96px;
    border-radius: 50%;
}
.home article .title{
    font-size: 40px;
    margin: 16px 0;
}
.home article .block{
    height: 100px;
}
.home article .button{
    height: 32px;
    width: 100px;
    border-radius: 25px 0 25px 0;
}
