/* body{
    background: #505050;
    min-height: 100vh;
} */

.loading {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /* color: var(--text); */
    margin:auto;
    animation: bye 1 2s 10s linear forwards;
    position: relative;
}

.App {
    position: absolute;
    width: 100vw;
    text-align: center;
    z-index: 1;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .lema{
    height: 24vh;
    width: 90vw;
    margin: 0;
    padding: 0;
    font-size: 10vh;
  }
  .lema-row{
    height: 15vh;
    opacity: 0;
    position: absolute;
    width: 90vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    animation-name: intro2;
    animation-duration: 2s;
  }
  #row-1{
    animation-delay: 1s;
  }
  #row-2{
    animation-delay: 3s;
  }
  #row-3{
    animation-delay: 5s;
  }
  .lema .hexal{
    display: inline-block;
    height: 15vh;
    width: 15vh;
    margin: 0 20px;
  }
  .lema .text{
    /* font-size: 4vh; */
    width: 60vh;
    margin: 1vh 20px;
  }

@media only screen and (max-width: 768px) {
    .lema, .lema .lema-row{
      font-size: 5vh;
      width: 100vw;
      align-items: flex-end;
    }
    .lema-row{
      height:20vh;
    }
    .lema .hexal{
      width: 30vw !important;
      margin: 0;
      height: 20vh !important;
    }
    .lema .text{
      width: 40vw;
      height: 15vh;
      margin: 0;
    }
  }
@keyframes animate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}