
@keyframes intro1 {
    0%{
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes intro2 {
    0%,100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
@keyframes example {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(180deg);
    }
  }

  @keyframes bye{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      z-index: 0;
      position: absolute;
    }
  }  
  @keyframes hi{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
@keyframes animate{
  0%{
      filter: hue-rotate(0deg);
  }
  100%{
      filter: hue-rotate(360deg);
  }
}

@keyframes shadow{
  50%{
    filter: drop-shadow(0 0 0 currentColor);
  }
}