$font-size: 16px;

$default: hsl(0,0,50%);
$dark-color: darken($default, 40%);
$light-color: lighten($default, 40%);    

$purple: hsl(250, 56%, 50%);
$blue: hsl(213, 100%, 50%);
$green: hsl(115, 56%, 50%);
$red: hsl(0, 100%, 50%);

$guinda: hsl(348, 40%, 50%);
$scarlet: hsl(346, 97%, 50%);

$raspberry: hsl(331, 75%, 50%);
$berry: hsl(313, 32%, 50%);

$blackberry: hsl(283, 51%, 50%);
$magenta: hsl(273, 100%, 50%);

$hawkeye: hsl(254, 63%, 50%);
$electric: hsl(227, 96%, 50%);

$cobalt: hsl(216, 87%, 50%);
$azure: hsl(201, 36%, 50%);

$cyan: hsl(190, 56%, 50%);
$aqua: hsl(172, 72%, 50%);

$mint: hsl(142, 67%, 50%);
$leaf: hsl(122, 40%, 50%);

$orange: hsl(33, 100%, 50%);
$brown: hsl(33, 56%, 50%);