
:root{
  background-color: var(--background);
  color: var(--text)
}
.dark-theme{
  --background: #151515;
  --text: #ebebeb;
  --enfasis: #6512bf;
}
.light-theme{
  --background: #ebebeb;
  --text: #151515;
  --enfasis: #16bf12;
}
a{
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}


