@import "variables.scss";
@import "animations.scss";
@import "main.scss";
@import "mixin";
@import "components/presentation/hexagon";
@import "components/presentation/loading";
@import "components/presentation/home";
@import "components/presentation/header-footer";
@import "components/presentation/project-section";
@import "components/presentation/home-section";
@import "components/about/about";
@import "components/about/estudios";
@import "components/about/experiencia";
@import "components/about/intro";
@import "components/about/skills";
@import "components/about/projects";
@import "components/about/links";
@import "components/lists/list";